.logo {
  width: 450px;
  height: 75px;
  background: rgba(255, 255, 255, 0.2);
  margin: 0px;
  float: left;
  background:url(../../assets/images/logo1.png) 
}

.site-layout-background {
  background: #fff;
}

.set-position-button{
  float: right;
}
