

.login-main {
  height: 100vh;
}

.login-card {
  width: 500px !important;
  height: auto;
  border-radius: 20px !important;
}
.ant-card-head-title {
  text-align: center;
}

.bg {
  /* The image used */
  background-image: url("../../assets/images/bg4.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}